*{
    margin: 0;
    padding: 0;
}
.divv{
    border: 2px solid green;
    background-color: gray;
    /* margin-bottom: 8px; */
    margin: 8px 3px 5px 3px;
    padding: 3px;
    border-radius: 8px;
}

h3{
    color: dark;
    text-align: center;
    border: 3px dotted red;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px 0px;
}
p {
    text-align: justify;
    margin: 5px 3px 0px 3px;
}
